<h1>Listing users</h1>

<a href="/users/new">Add a new user</a>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><a href="/users/<%= user.id %>">Show</a></td>
      <td><a href="/users/<%= user.id %>/edit">Edit</a></td>
      <td><a href="/users/<%= user.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
</table>
